doctype 5
html
	head
		body
			h1 
				:trans(context=h1)
					It's me,
			p
				:trans(context=p1)
					Foo!
				:trans(context=fanculo)
					Geena
			footer
				:trans(context=footer)
					(c) Me
				:trans(context=year)
					2013
